html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    color: #222;
    font-family: 'Roboto';
    font-size: 15px;
}

label {
    font-weight: bold;
}

a.image-link {
    display: inline-block;
    font-size: 0;
    text-decoration: none;
    vertical-align: middle;
    margin: 5px;
}

a.image-link > img {
    height: 40px;
}

.container {
    position: relative;
    padding: 0 15px;
}

.container.wide {
    padding: 0 10%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.row,
.row.align-left {
    justify-content: left;
}

.row.align-middle {
    justify-content: center;
}

.row.align-right {
    justify-content: flex-end;
}

.column {
    flex: 1;
    padding: 5px 10px;
    box-sizing: border-box;
    min-width: 8.333333333333333%;
}

.column.span-1 {
    min-width: calc(8.333333333333333% * 1);
    max-width: calc(8.333333333333333% * 1);
}

.column.span-2 {
    min-width: calc(8.333333333333333% * 2);
    max-width: calc(8.333333333333333% * 2);
}

.column.span-3 {
    min-width: calc(8.333333333333333% * 3);
    max-width: calc(8.333333333333333% * 3);
}

.column.span-4 {
    min-width: calc(8.333333333333333% * 4);
    max-width: calc(8.333333333333333% * 4);
}

.column.span-5 {
    min-width: calc(8.333333333333333% * 5);
    max-width: calc(8.333333333333333% * 5);
}

.column.span-6 {
    min-width: calc(8.333333333333333% * 6);
    max-width: calc(8.333333333333333% * 6);
}

.column.span-7 {
    min-width: calc(8.333333333333333% * 7);
    max-width: calc(8.333333333333333% * 7);
}

.column.span-8 {
    min-width: calc(8.333333333333333% * 8);
    max-width: calc(8.333333333333333% * 8);
}

.column.span-9 {
    min-width: calc(8.333333333333333% * 9);
    max-width: calc(8.333333333333333% * 9);
}

.column.span-10 {
    min-width: calc(8.333333333333333% * 10);
    max-width: calc(8.333333333333333% * 10);
}

.column.span-11 {
    min-width: calc(8.333333333333333% * 11);
    max-width: calc(8.333333333333333% * 11);
}

.column.span-12 {
    min-width: calc(8.333333333333333% * 12);
    max-width: calc(8.333333333333333% * 12);
}

.column.offset-1 {
    margin-left: calc(8.333333333333333% * 1);
}

.column.offset-2 {
    margin-left: calc(8.333333333333333% * 2);
}

.column.offset-3 {
    margin-left: calc(8.333333333333333% * 3);
}

.column.offset-4 {
    margin-left: calc(8.333333333333333% * 4);
}

.column.offset-5 {
    margin-left: calc(8.333333333333333% * 5);
}

.column.offset-6 {
    margin-left: calc(8.333333333333333% * 6);
}

.column.offset-7 {
    margin-left: calc(8.333333333333333% * 7);
}

.column.offset-8 {
    margin-left: calc(8.333333333333333% * 8);
}

.column.offset-9 {
    margin-left: calc(8.333333333333333% * 9);
}

.column.offset-10 {
    margin-left: calc(8.333333333333333% * 10);
}

.column.offset-11 {
    margin-left: calc(8.333333333333333% * 11);
}

.navbar {
    background-color: #4c9261;
    position: relative;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar > .content {
    display: flex;
    font-size: 0;
    padding: 0 15px;
}

.navbar > .content.wide {
    padding: 0 10%;
}

.navbar > .content > .left {
    order: 1;
}

.navbar > .content > .right {
    order: 2;
    margin-left: auto;
}

.navbar > .content .dropdown {
    display: inline-block;
    font-size: 15px;
    position: relative;
}

.navbar > .content .dropdown > .dropdown-menu {
    background-color: #4c9261;
    border-radius: 4px;
    color: white;
    display: none;
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    padding: 0;
    margin: 5px 0 0 0;
    min-width: 150px;
}

.navbar > .content .dropdown > .item.active + .dropdown-menu {
    display: inline-block;
}

.navbar > .content .dropdown > .dropdown-menu > li > a {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.25s;
}

.navbar > .content .dropdown > .dropdown-menu > li > a:hover {
    background-color: #59ab72;
}

.navbar > .content .dropdown > .dropdown-menu > li > a:active {
    background-color: #387e4d;
}

.navbar > .content .item {
    align-items: center;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    padding: 0 15px;
    line-height: 60px;
    height: 60px;
    box-sizing: border-box;
    transition: 0.25s;
}

.navbar > .content .item.title {
    font-family: 'Satisfy';
    font-size: 25px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.navbar > .content .item:not(.title):hover {
    background-color: #59ab72;
}

.navbar > .content .item:not(.title):active {
    background-color: #387e4d;
}

.navbar > .content .item.active:not(.title) {
    background-color: #387e4d;
    border-bottom: 3px solid #5abf79;
}

.footer {
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1000;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
}

.footer.fixed {
    border-bottom: none;
    border-left: none;
    border-right: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer > .content {
    font-size: 10px;
    text-align: center;
    z-index: 1000;
}

.body-content {
    position: relative;
    padding: 15px 0;
}

.body-content.fixed-navbar {
    padding-top: 75px;
}

.body-content.fixed-footer {
    padding-bottom: 75px;
}

.body-content.admin {
    display: flex;
    padding: 0;
    height: calc(100% - 60px);
    box-sizing: border-box;
}

.body-content.admin.fixed-navbar {
    padding-top: 60px;
}

.body-content.admin.fixed-footer {
    padding-bottom: 60px;
}

.body-content.admin > .sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
    display: inline-block;
    font-size: 15px;
    overflow-y: scroll;
    position: relative;
    height: 100%;
    width: 20%;
    max-width: 350px;
    box-sizing: border-box;
}

.body-content.admin > .sidebar::-webkit-scrollbar {
    background-color: #f5f5f5;
    border-left: 1px solid #eee;
    width: 8px;
}

.body-content.admin > .sidebar::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border: 1px solid #f5f5f5;
}

.body-content.admin > .sidebar > ul.sidebar-list {
    border-bottom: 1px solid #eee;
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
}

.body-content.admin > .sidebar > ul.sidebar-list > li > a {
    background-color: transparent;
    border-top: 1px solid #eee;
    color: #222;
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.25s;
}

.body-content.admin > .sidebar > ul.sidebar-list > li > a:hover {
    /*background: linear-gradient(to right, rgba(76, 146, 97, 0.25), rgba(255, 255, 255, 0.25));*/
    background-color: rgba(255, 255, 255, 0.25);
}

.body-content.admin > .sidebar > ul.sidebar-list > li > a:active {
    background-color: rgba(200, 200, 200, 0.25);
}

.body-content.admin > .sidebar > ul.sidebar-list > li > a.active {
    background-color: #4c9261;
    border-top: 1px solid #4c9261;
    color: white;
}

.body-content.admin > .content {
    flex: 1;
    overflow-y: scroll;
    position: relative;
    padding: 15px;
}

.body-content.admin > .content::-webkit-scrollbar {
    background-color: #fff;
    border-left: 1px solid #eee;
    width: 8px;
}

.body-content.admin > .content::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border: 1px solid #fff;
}

.body-content.admin > .content.navify {
    padding-top: 65px;
}

.body-content.admin > .content.navify > .admin-navbar {
    align-items: center;
    background-color: #669c77;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    height: 50px;
    box-sizing: border-box;
}

.body-content.admin > .content.navify > .admin-navbar > .admin-navbar-title {
    color: white;
    flex: 1;
    font-size: 1.25em;
    text-align: center;
}

.body-content.admin > .content.navify > .admin-navbar > .admin-navbar-button {
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0 5px;
    line-height: 30px;
    height: 30px;
    min-width: 30px;
    box-sizing: border-box;
    
}

.body-content.admin > .content.navify > .admin-navbar > .admin-navbar-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.body-content.admin > .content.navify > .admin-navbar > .admin-navbar-button:active {
    background-color: rgba(0, 0, 0, 0.25);
}

h1.prompt {
    font-size: 2em;
}

h2.prompt {
    font-size: 1.5em;
}

h3.prompt {
    font-size: 1.17em;
}

h4.prompt {
    font-size: 1em;
}

h5.prompt {
    font-size: 0.83em;
}

h6.prompt {
    font-size: 0.67em;
}

.prompt {
    background-color: #ddd;
    border-radius: 4px;
    padding: 15px;
    margin: 10px 0 15px 0;
    width: 100%;
    box-sizing: border-box;
}

.prompt.info {
    background-color: #5c8dbf;
    color: white;
}

.prompt.success {
    background-color: #5abf79;
    color: white;
}

.prompt.warning {
    background-color: #eacf6c;
    color: white;
}

.prompt.danger {
    background-color: #c73a4e;
    color: white;
}

.card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(34, 34, 34, 0.25);
    color: #222;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    text-shadow: none;
    margin: 5px;
    width: calc(100% - 10px);
}

.card > .card-image {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    max-height: 250px;
    width: 100%;
}

.card > .card-image > img {
    width: 100%;
}

.card > .card-header {
    padding: 10px 15px;
}

.card > .card-header > .card-title {
    font-size: 20px;
    font-weight: bold;
}

.card > .card-header > .card-subtitle {
    font-size: 10px;
    /*font-weight: bold;*/
}

.card > .card-body {
    flex: 1;
    padding: 10px 15px;
}

.card > .card-header + .card-body {
    padding-top: 0;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.card-grid > .card {
    width: 250px;
}

.tag > .tag-header {
    text-align: center;
    padding: 15px 0;
}

.tag > .tag-header > .tag-label {
    font-weight: bold;
}

.tag > .tag-header > .tag-label.large {
    font-size: 50px;
}

.tag > .tag-header > .tag-label.medium {
    font-size: 20px;
}

.tag > .tag-header > .tag-label.small {
    font-size: 10px;
}

.tag > .tag-header + .tag-list {
    margin-top: 25px;
}

.tag > .tag-list > .tag-label {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin: 0 0 5px 0;
}

.tag > .tag-list > ul.tag-list {
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
}

.tag > .tag-list > ul.tag-list > li {
    border-bottom: 2px solid #e5e5e5;
    padding: 10px 5px;
}

.tag > .tag-list > ul.tag-list > li:last-child {
    border-bottom: none;
}

.progress {
    background-color: #f7f7f7;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(175, 175, 175, 0.5);
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
    line-height: 15px;
    height: 15px;
    width: 100%;
}

.progress > .progress-bar {
    background-color: #4c9261;
    box-shadow: inset 0 -1px 1px rgba(34, 34, 34, 0.25);
    height: 100%;
    width: 0;
}

.progress > .progress-text {
    color: white;
    display: inline-block;
    font-size: 10px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 0 2px #222,
        -1px 0 2px #222,
        0 1px 2px #222,
        0 -1px 2px #222;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
}

a.button {
    text-decoration: none;
    line-height: 40px;
}

.button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    padding: 0 15px;
    height: 40px;
    min-width: 40px;
    box-sizing: border-box;
}

.button:hover {
    background-color: #f5f5f5;
}

.button:active {
    background-color: #ddd;
}

a.button.small {
    line-height: 30px;
}

.button.small {
    font-size: 0.75em;
    font-weight: normal;
    height: 30px;
    min-width: 30px;
}

a.button.large {
    line-height: 50px;
}

.button.large {
    font-size: 1.25em;
    height: 50px;
    min-width: 50px;
}

.button.primary {
    background-color: #4c9261;
    color: white;
}

.button.primary:hover {
    background-color: #59ab72;
}

.button.primary:active {
    background-color: #387e4d;
}

.button.info {
    background-color: #5c8dbf;
    color: white;
}

.button.info:hover {
    background-color: #679fd8;
}

.button.info:active {
    background-color: #4879ab;
}

.button.success {
    background-color: #5abf79;
    color: white;
}

.button.success:hover {
    background-color: #65d889;
}

.button.success:active {
    background-color: #46ab65;
}

.button.warning {
    background-color: #eacf6c;
    color: white;
}

.button.warning:hover {
    background-color: #f7da72;
}

.button.warning:active {
    background-color: #d6bb58;
}

.button.danger {
    background-color: #c73a4e;
    color: white;
}

.button.danger:hover {
    background-color: #e04258;
}

.button.danger:active {
    background-color: #b3263a;
}

.input-group {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.input-group:not(.file-upload) > .input-control {
    display: inline-block;
    padding: 1px 5px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}

.input-group > .file-control,
.input-group > .image-control {
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.input-group > .file-control.drag-over + .file-control-label,
.input-group > .image-control.drag-over + .image-preview {
    border: 1px dashed #777;
}

.input-group > .file-control-label {
    align-items: center;
    background-color: #f5f5f5;
    border: 1px dashed #ddd;
    display: flex;
    font-weight: normal;
    justify-content: center;
    position: relative;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.input-group > .image-preview {
    align-items: center;
    background-color: #f5f5f5;
    border: 1px dashed #ddd;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    justify-content: center;
    position: relative;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.input-group > .image-preview > img {
    width: 100%;
}

.input-group > .image-preview > img:not(:last-child) {
    margin-bottom: 5px;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 15px;
    width: 100%;
}

.table.bordered {
    border: 1px solid #ddd;
}

.table thead {
    border-bottom: 3px solid #ddd;
}

.table tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.table th,
.table td {
    padding: 10px 15px;
}

.table th:not(:last-child),
.table td:not(:last-child) {
    border-right: 1px solid #ddd;
}

.pagination {
    font-size: 0;
    margin: 15px 0;
}

.pagination > .pagination-prev,
.pagination > .pagination-page,
.pagination > .pagination-next {
    background-color: #eee;
    border: none;
    color: #222;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
    min-width: 30px;
    box-sizing: border-box;
}

.pagination > .pagination-prev.disabled,
.pagination > .pagination-page.disabled,
.pagination > .pagination-next.disabled {
    background-color: #ddd;
    color: #777;
    cursor: not-allowed;
}

.pagination > .pagination-prev {
    border-radius: 4px 0 0 4px;
}

.pagination > .pagination-next {
    border-radius: 0 4px 4px 0;
}

.pagination > .pagination-page.active {
    background-color: #4c9261;
    color: white;
}

.pagination > .pagination-prev:not(.active):not(.disabled):hover,
.pagination > .pagination-page:not(.active):not(.disabled):hover,
.pagination > .pagination-next:not(.active):not(.disabled):hover {
    background-color: #59ab72;
    color: white;
}

.pagination > .pagination-prev:not(.active):not(.disabled):active,
.pagination > .pagination-page:not(.active):not(.disabled):active,
.pagination > .pagination-next:not(.active):not(.disabled):active {
    background-color: #387e4d;
    color: white;
}

.modal {
    background-color: rgba(34, 34, 34, 0.9);
    display: inline-block;
    position: fixed;
    z-index: 1100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal > .modal-content {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding: 50px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.modal > .modal-content > .modal-content-inner {
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 600px;
}

.modal > .modal-content > .modal-content-inner > .modal-header {
    background-color: #4c9261;
    border-bottom: 1px solid #387e4d;
    padding: 15px;
}

.modal > .modal-content > .modal-content-inner > .modal-header .modal-title {
    color: white;
    font-size: 1.5em;
}

.modal > .modal-content > .modal-content-inner > .modal-body {
    flex: 1;
    overflow-y: scroll;
    padding: 15px;
}

.modal > .modal-content > .modal-content-inner > .modal-body::-webkit-scrollbar {
    background-color: #fff;
    border-left: 1px solid #eee;
    width: 8px;
}

.modal > .modal-content > .modal-content-inner > .modal-body::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border: 1px solid #fff;
}

.modal > .modal-content > .modal-content-inner > .modal-footer {
    background-color: #eee;
    border-top: 1px solid #ddd;
    font-size: 10px;
    padding: 15px;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.shadow {
    box-shadow: 0 2px 2px rgba(34, 34, 34, 0.25);
}
